.results-page {
    margin: 2em auto;
    max-width: 70%;
}

.results-page__title {
}

.results-page__sub-header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.results-page__sub-header-container-button {
    padding: 1.25em 2em !important;
}

.results-page__sub-header {
}

.results-page__card-title {
}

.spotify-impression {
}

.spotify-impression__detail-container {
    justify-content: center !important;
}

.spotify-impression__title {
    margin-bottom: 0% !important;
    margin-top: 3.5em;
}

.spotify-impression__artist {
    margin-bottom: 1em;
}

.spotify-impression__album {
    font-style: italic;
    font-weight: 200;
}

.spotify-impression__button {
    margin-top: -1em;
    font-weight: 800;
    padding: 1.25em 2em !important;
}
